html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.75;
}

a {
  color: #0184fe;
  text-decoration: none;
  transition: 0.5s all ease;
  width: fit-content;
  cursor: pointer;
}

a:not([role='button']):hover {
  text-decoration: underline;
}

a.anchor {
  color: inherit;
  border-bottom: 1px dashed transparent;
}

a.anchor::after {
  /* content: '🔗'; */
  transition: 0.5s all ease-in;
  margin-left: 6px;
}

a.anchor:hover {
  text-decoration: none;
  border-bottom-color: #000;
}

a.anchor:hover::after {
  content: '#';
  color: #0184fe;
}

pre code {
  border-radius: 5px;
  font-size: 1rem;
}

ul li::marker {
  content: ' - ';
}

* {
  box-sizing: border-box;
}

.search-highlight {
  background: #ffcd38;
}

@media (prefers-color-scheme: dark) {
  /* html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: rgb(47, 47, 47);
  } */
}
